.content-request-doc {
  margin: 25px auto;
  width: 95%;
}

.form-request-doc {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 30px;
  border-radius: 10px;
  padding: 22px 12px;
  margin: auto;
}

.form-text.info-submit {
  color: red;
}
