.container-home {
  width: 95%;
  margin: 25px auto 0;
}

.container-home .section-links .container-cards{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(40%, 1fr) );
  justify-content: center;
  align-items: center;
}

.container-home .section-links h3 {
  margin-bottom: 22px;
}
